.banner {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    width: 90%;
    
    
   
    
    img.banner-img {
        
        width: 100%;
        max-height: 223px;
        object-fit: cover;
        border-radius: 2.5rem;
        filter: brightness(0.5);
        place-items: center;
    }

    .banner-text {
       
        white-space: nowrap;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: Montserrat;
        font-size: clamp(48px, 3vw, 24px);
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0em;
        color: #FFFFFF;
         
    }
    @media screen and (max-width: 800px) { 
       .banner{
        width: 100%;
        margin: auto;
        
       
       }
       .banner-img{
       
        height: 111px;
        
       }

        .banner-text {
            font-size: 24px; 
            border-width: 0.5px; 
            white-space: wrap;
            text-align: left;

          
        }
    
    }
}


@media screen and (max-width: 480px) {
    .banner  {
      width: 100%; 
     justify-content: center;
    }
  }

  