.card{
   
    border-radius: 10px;
    margin: 2%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;

    
    .card-cover {
        width:340px;
        height: 340px; 
        display: flex; 
        object-fit: cover;
      }
    

    .card-title{
    position: absolute;
    max-width: 300px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 1rem;
    padding-top: 17rem;
    color: #FFFFFF;
    }
    
  
}
@media screen and (max-width: 768px) {
   .card.card-cover{
    width: 100%;
    
  
 
  .card .card-title{
    box-sizing: border-box;
    white-space:nowrap;
  }
}}