
  
  .description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    padding-inline: 10rem;
   
     
 
  
    
  
    .description-collapsible {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width:100%;
      height: auto;
      padding: 10px 20px 10px 15px;
      border-radius: 5px;
      background-color: #FF6060;
      border: none;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0em;
       color: #FFFFFF;
      overflow-wrap: break-word; 
      cursor: pointer;
      transition: transform 0.9s ease-in-out;
      
      
      &:hover {
        background-color: #FF4040;
      }
      
    }
  
    .content {
      
      width: 95%;
      background: #F6F6F673;
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      font-family: Montserrat;
      
     

      
     
    }
    
    
   
    p{
        width: 64%;
    }
    
    .content.active {
      max-height: 559px;
      margin-top: -14px;
    
    }
  }
  
  @media screen and (max-width: 800px) {
   .description-container{
    display: flex;
    justify-items: center;
    padding-inline: 3rem;

    .description-collapsible {
      background-color: #FF6060;
      border: none;
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0em;
       color: #FFFFFF;
      overflow-wrap: break-word; 
      cursor: pointer;
      transition: transform 0.9s ease-in-out;
      
      
      &:hover {
        background-color: #FF4040;
      }
      
    }
    .arrow_top{
      width: 24px;
    }
   }

   
  }
  

  //part for the about page//
 .Collapsible-container{
  
  .collapsible{
    width:50%
  }

 }