.grid-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    justify-content: center;
    flex-wrap: wrap;
    height:auto;
    border-radius: 25px;
    background-color: #F6F6F6;
    margin-top: 2rem;
}
@media screen and (max-width: 768px) {
    .grid-container{
    background-color:#FFFFFF;
       
    }
    }