.Host{
    display: flex;
    position: absolute;
    align-items: center;
    left: 85%;
    top: 27rem;
    gap: 1rem;


    .host-img{
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
  .host-title{
    margin-left: 1.5rem;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    color:#FF6060;
    

  }
}
