.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 6rem 2rem; /* Modification des marges pour inclure les marges gauche et droite */
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  flex-wrap: nowrap;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}

.navbar ul a {
  color: #000000;
}

/* Ajout de styles pour les écrans de moins de 800px */
@media screen and (max-width: 800px) {
  
  .navbar ul {
    font-size: 12px;
    flex-wrap: wrap;
  }
}

/* Ajout de styles pour les écrans de moins de 325px */
@media screen and (max-width: 325px) {
  .navbar {
    flex-direction: column;
    justify-items: center;
  }
  .navbar ul {
    gap: 10px;
    padding-right: 2rem;
    margin-top: 0;
   
  }



.logo img {
  font-size: 68px; 
  margin-bottom: 1rem;
 

  @media screen and (max-width: 800px) {
    width: 88px;
    margin-top: 1rem;
  }
}
}
/* Modification de la marge pour les écrans de moins de 800px */
@media screen and (max-width: 800px) {
  .navbar {
    margin: 0 2rem; /* Modification de la marge horizontale */
  }
}
