.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 6rem 2rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  flex-wrap: nowrap;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}

.navbar ul a {
  color: #000000;
  text-decoration: none;
}

.navbar .links .active {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .navbar ul a {
    font-size: 18px; /* Réduire légèrement la taille de la police */
  }

  .logo img {
    margin: 1rem 0; /* Utiliser une marge uniforme */
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    margin: 0 2rem;
  }

  .navbar ul a {
    font-size: 14px; /* Réduire la taille de la police */
    padding-right: 1rem; /* Réduire l'espacement à droite */
    text-transform: uppercase;
  }

  .logo img {
    width: 68px;
    margin: 0.5rem 0;
    padding-left: 1rem;
  }
}

@media screen and (max-width: 468px) {
  .navbar {
    flex-wrap: nowrap; 
    margin: 0 1rem;
    align-items: center;
  }

  .navbar ul {
    margin-top: 1rem;
    gap: 0;
  }

  .navbar ul a {
    font-size: 12px;
  }

  .logo img {
    width: 68px;
    margin: 0.5rem 0;
    margin-left: -1rem;
    margin-right: 1rem;
  }
}


@media screen and (max-width: 319px) {
  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  
  }

  .navbar ul {
    margin-right: -4rem;
    margin-top: 1rem;
    justify-content: center;
  }

  .navbar ul a {
    font-size: 12px;
    gap: 0;
  }
  .logo img{
    margin-right: -5rem;
  }
}


