.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 6rem 2rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  flex-wrap: nowrap;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: right;
}

.navbar ul a {
  color: #000000;
  text-decoration: none;
}


.navbar .links .active {

  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .navbar ul {
    font-size: 24px;
  }

  .logo img {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width:800px) {
  .navbar {
    justify-content: space-between;
    margin: 0 2rem;
    margin-top: auto;
  }

  .navbar ul {
    padding-right: -2rem;
    font-size: 12px;
    gap: 10px;
    padding-right: 2rem;
    margin-top: 0;
    text-transform: uppercase;
  }

  .logo img {
    width: 68px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 468px) {
  .navbar {
    justify-content: space-between;
    margin: 0 2rem;
    margin-top: auto;
  }

  .navbar ul {
    padding-right: 3rem;
    font-size: 12px;
    gap: 10px;
    padding-right: 2rem;
    margin-top: 0;
  }

  .logo img {
    width: 68px;
    margin-bottom: 1rem;
  }
}