.footer-container{
    position: relative;
    flex-wrap: wrap;
    margin: unset;
    height: 209px;
    background-color: #000000;
    margin-top: 2rem;
    margin-bottom: 0;

    .footer-logo{
        position: absolute;
        color: #FFFFFF;
        font-size: 26px;
        left: 48%;
        top: 30%;

    }
    .footer-content{
        position: absolute;
        color: #FFFFFF;
        left: 40%;
        top:60%;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;


        

    }
}

