.footer-container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    max-width:100%;
    margin: unset;
    height: 209px;
    background-color: #000000;
    margin-top: 2rem;
    margin-bottom: 0;

    .footer-logo{
        position: absolute;
        color: #FFFFFF;
        font-size: 26px;
        left: 50%;
        top: 30%;
        transform: translate( -50%,50%);

    }
    .footer-content{
        position: absolute;
        color: #FFFFFF;
        left: 40%;
        top:60%;
        transform: translate(-15%, 10px);
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;


        

    }
}

@media screen and (max-width: 768px) {
   .footer-container{
   display: flex ;
   flex-direction: column;

    .footer-content{
        font-size: 12px;
        transform: translate(-30%, 10px);
    }

   }
  }

