.header{


.navbar{
    flex-wrap: wrap;
    width: 82%;
    height: auto;
    margin:auto;
    display: flex;
    align-items: center;
   
    
    .logo{
    margin-right: auto;
    padding-left:1rem;
    margin-top: 2rem;
    font-size: 68px;
  
}  
ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 4rem;
    gap: 2rem;
   
}
   .links li a{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    color: #000000;
    text-decoration: none;

   

   }
}
}